name: Automatic Build

on: [push, pull_request]

jobs:
  buildForLinux:
    name: Linux Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        unityVersion:
          - 2021.3.45f2
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-
            
      - name: Build project
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: StandaloneLinux64

      - uses: actions/upload-artifact@v4
        with:
          name: Build
          path: build
